<template>
  <div>
    <v-card outlined>
      <!-- 타이틀바 -->
      <title-bar :title="title">
        <template v-slot:action>
          <v-btn small tile :min-width="$const.minWidthButton" color="secondary" class="mr-1" @click="handleClearClicked">{{ $t('word.clear') }}</v-btn>
          <v-btn small tile :min-width="$const.minWidthButton" color="secondary" class="mr-1" @click="fetchList(true)">{{ $t('word.search') }}</v-btn>
          <v-btn v-if="isAdmin" small tile :min-width="$const.minWidthButton" color="primary" @click="handleAddClicked">{{ $t('word.add') }}</v-btn>
        </template>
      </title-bar>
      <!-- 검색조건 -->
      <five-field-bar :field-size="5">
        <template v-slot:field-1>
          <v-select
            v-model="langVal"
            :items="langValList"
            :label="$t('word.lang')"
            background-color="white"
            outlined
            dense
            hide-details>
          </v-select>
        </template>
        <template v-slot:field-2>
          <v-select
            v-model="faqDivCd"
            :items="faqDivCdList"
            :label="$t('word.faqDiv')"
            background-color="white"
            outlined
            dense
            hide-details>
          </v-select>
        </template>
        <template v-slot:field-3>
          <v-select
            v-model="postYn"
            :items="$getYesOrNoCodes()"
            :label="$t('word.postYn')"
            background-color="white"
            outlined
            dense
            hide-details>
          </v-select>
        </template>
        <template v-slot:field-4>
          <v-select
            v-model="srchDiv"
            :items="srchDivList"
            :label="$t('word.srchDiv')"
            background-color="white"
            outlined
            dense
            hide-details>
          </v-select>
        </template>
        <template v-slot:field-5>
          <v-text-field
            v-model="kwd"
            :label="$t('word.kwd')"
            background-color="white"
            outlined
            dense
            clearable
            hide-details
            @keypress.enter="fetchList(true)">
          </v-text-field>
        </template>
      </five-field-bar>
      <!-- 테이블 -->
      <v-data-table
        v-model="selectedItems"
        :headers="headers"
        :items="items"
        item-key="faqNo"
        height="69vh"
        fixed-header
        show-select
        single-select
        disable-pagination
        loading-text=""
        no-data-text=""
        no-results-text=""
        hide-default-footer
        :server-items-length="comTtlCnt"
        :sort-by.sync="comSrtBy"
        :sort-desc.sync="comSrtDesc"
        @click:row="handleRowClicked"
        @update:sort-by="delayedCall(fetchList)"
        @update:sort-desc="delayedCall(fetchList)">
        <template v-slot:item.qstn="{ value }">
          <td class="py-2" style="overline">{{ value }}</td>
        </template>
        <template v-slot:item.langVal="{ value }">
          <td>{{ $getLangNm(value) }}</td>
        </template>
        <template v-slot:item.modDt="{ value }">
          <td>{{ $timeToMediumDate(value) }}</td>
        </template>
        <template v-slot:body.append="{ headers }">
          <tr>
            <td :colspan="headers.length">
              {{ $t('word.total') }} {{ $formatNumber(comTtlCnt) }}{{ $t('word.count') }}
            </td>
          </tr>
        </template>
      </v-data-table>
      <!-- 페이징 -->
      <paging-bar
        :page-no.sync="comPageNo"
        :page-cnt.sync="comPageCnt"
        :item-cnt-per-page.sync="comItemCntPerPage"
        @paging-changed="fetchList">
      </paging-bar>
    </v-card>
    <!--  FAQ 상세 팝업 -->
    <faq-detail-popup
      v-if="showFaqDetailPopup"
      :dialog.sync="showFaqDetailPopup"
      :faq-no="selectedItems.length === 0 ? null : selectedItems[0].faqNo"
      @item-changed="handleFaqItemChanged">
    </faq-detail-popup>
  </div>
</template>

<script>
import { sorts } from '@/mixins/sortMixin'
import { pages } from '@/mixins/pageMixin'
import { searches } from '@/mixins/searchMixin'
import { stores } from '@/mixins/storeMixin'
import TitleBar from '@/components/TitleBar'
import FiveFieldBar from '@/components/FiveFieldBar'
import PagingBar from '@/components/PagingBar'
import FaqDetailPopup from '@/views/faq/popup/FaqDetailPopup'

export default {
  name: 'FaqListView',
  mixins: [sorts, pages, searches, stores],
  components: {
    TitleBar,
    FiveFieldBar,
    PagingBar,
    FaqDetailPopup
  },
  props: {
    title: {
      type: String,
      required: false,
      default: 'NO TITLE'
    }
  },
  mounted () {
    this.$getCodes(['FD0000'], (result) => {
      const tmpFaqDivCdList = result.FD0000
      this.faqDivCdList = this.$toSelectableCodes(tmpFaqDivCdList)
      this.fetchList()
    })
  },
  data () {
    return {
      faqDivCdList: [],
      // 테이블 헤더
      headers: [
        { text: this.$t('word.number'), value: 'faqNo' },
        { text: this.$t('word.lang'), value: 'langVal', sortable: false },
        { text: this.$t('word.faqDiv'), value: 'faqDivCdNm' },
        { text: this.$t('word.qstn'), value: 'qstn', width: '55%' },
        { text: this.$t('word.postYn'), value: 'postYn', sortable: false },
        { text: this.$t('word.modDt'), value: 'modDt', sortable: false }
      ],
      // 조회결과 목록
      items: [],
      // 검색조건
      langVal: null,
      faqDivCd: null,
      postYn: null,
      srchDiv: 'qtas',
      kwd: null,
      // 선택 아이템
      selectedItems: [],
      // FAQ 팝업 오픈 여부
      showFaqDetailPopup: false
    }
  },
  computed: {
    langValList () {
      return [
        { text: this.$t('word.- choose -'), value: null },
        { text: this.$t('word.ko'), value: 'ko' },
        { text: this.$t('word.en'), value: 'en' }
      ]
    },
    srchDivList () {
      return [
        { text: this.$t('word.qstn'), value: 'qstn' },
        { text: this.$t('word.ansr'), value: 'ansr' },
        { text: this.$t('word.qtas'), value: 'qtas' }
      ]
    }
  },
  methods: {
    // 목록조회
    fetchList (shouldClear) {
      // 검색 초기화
      if (shouldClear) {
        this.comPageNo = 1
        this.selectedItems = []
        this.srchDiv = 'qtas'
      }
      // 검색 파라미터 할당
      this.clearComParam()
      this.appendParam('langVal', this.langVal)
      this.appendParam('faqDivCd', this.faqDivCd)
      this.appendParam('postYn', this.postYn)
      if (!this.$isEmpty(this.kwd)) {
        this.appendParam(this.srchDiv, this.kwd)
      }
      // 검색
      this.$http.get(this.toRequestUrl('/api/1/faq'))
        .then((response) => {
          const page = response.data.result.faqPage
          this.bindComPage(page)
          this.items = page.list
        })
        .catch((error) => {
          this.$showError(error)
        })
    },
    // 초기화 버튼 클릭시
    handleClearClicked () {
      this.langVal = null
      this.faqDivCd = null
      this.postYn = null
      this.srchDiv = null
      this.kwd = null
      this.fetchList(true)
    },
    // 추가 버튼 클릭시
    handleAddClicked () {
      this.selectedItems = []
      this.showFaqDetailPopup = true
    },
    // 테이블 로우 클릭시
    handleRowClicked (item) {
      this.selectedItems = [item]
      this.showFaqDetailPopup = true
    },
    // FAQ 상세 팝업 데이터 변경시
    handleFaqItemChanged (item) {
      if (this.$isNull(item)) {
        this.fetchList(true)
      } else {
        this.fetchList()
      }
    }
  }
}
</script>

<style>
  .my-class {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: red;
  }
</style>
