<template>
  <div>
    <v-card outlined>
      <!-- 타이틀바 -->
      <title-bar :title="title">
        <template v-slot:action>
          <v-btn small tile :min-width="$const.minWidthButton" color="secondary" class="mr-1" @click="handleClearClicked">{{ $t('word.clear') }}</v-btn>
          <v-btn small tile :min-width="$const.minWidthButton" color="secondary" class="mr-1" @click="fetchList(true)">{{ $t('word.search') }}</v-btn>
          <v-btn v-if="isLicensor" small tile :min-width="$const.minWidthButton" color="primary" @click="handleAddClicked">{{ $t('word.add') }}</v-btn>
        </template>
      </title-bar>
      <!-- 검색조건 -->
      <five-field-bar :field-size="5">
        <template v-slot:field-1>
          <date-field
            v-model="strYmd"
            :label="$t('word.joinYmd') + ' (FROM)'"
            background-color="white"
            outlined
            dense
            hide-details>
          </date-field>
        </template>
        <template v-slot:field-2>
          <date-field
            v-model="endYmd"
            :label="$t('word.joinYmd') + ' (TO)'"
            background-color="white"
            outlined
            dense
            hide-details>
          </date-field>
        </template>
        <template v-slot:field-3>
          <v-select
            v-model="usrStsCd"
            :items="usrStsCdList"
            :label="$t('word.usrSts')"
            background-color="white"
            outlined
            dense
            hide-details>
          </v-select>
        </template>
        <template v-slot:field-4>
          <v-select
            v-model="srchDiv"
            :items="srchDivList"
            :label="$t('word.srchDiv')"
            background-color="white"
            outlined
            dense
            hide-details>
          </v-select>
        </template>
        <template v-slot:field-5>
          <v-text-field
            v-model="kwd"
            :label="$t('word.kwd')"
            background-color="white"
            outlined
            dense
            clearable
            hide-details
            @keypress.enter="fetchList(true)">
          </v-text-field>
        </template>
      </five-field-bar>
      <!-- 테이블 -->
      <v-data-table
        v-model="selectedItems"
        :headers="headers"
        :items="items"
        item-key="usrId"
        height="69vh"
        class="text-truncate"
        fixed-header
        show-select
        single-select
        disable-filtering
        disable-pagination
        loading-text=""
        no-data-text=""
        no-results-text=""
        hide-default-footer
        :server-items-length="comTtlCnt"
        :sort-by.sync="comSrtBy"
        :sort-desc.sync="comSrtDesc"
        @click:row="handleRowClicked"
        @update:sort-by="delayedCall(fetchList)"
        @update:sort-desc="delayedCall(fetchList)">
        <template v-slot:item.joinDt="{ value }">
          <td>{{ $timeToShortDate(value) }}</td>
        </template>
        <template v-slot:item.modDt="{ value }">
          <td>{{ $timeToMediumDate(value) }}</td>
        </template>
        <template v-slot:body.append="{ headers }">
          <tr>
            <td :colspan="headers.length">
              {{ $t('word.total') }} {{ $formatNumber(comTtlCnt) }}{{ $t('word.count') }}
            </td>
          </tr>
        </template>
      </v-data-table>
      <!-- 페이징 -->
      <paging-bar
        :page-no.sync="comPageNo"
        :page-cnt.sync="comPageCnt"
        :item-cnt-per-page.sync="comItemCntPerPage"
        @paging-changed="fetchList">
      </paging-bar>
    </v-card>
    <!--  사용자상세 팝업 -->
    <licensee-user-detail-popup
      v-if="showLicenseeUserDetailPopup"
      :dialog.sync="showLicenseeUserDetailPopup"
      :usr-id="selectedItems.length === 0 ? null : selectedItems[0].usrId"
      @item-changed="handleUserItemChanged">
    </licensee-user-detail-popup>
  </div>
</template>

<script>
import { sorts } from '@/mixins/sortMixin'
import { pages } from '@/mixins/pageMixin'
import { searches } from '@/mixins/searchMixin'
import { stores } from '@/mixins/storeMixin'
import TitleBar from '@/components/TitleBar'
import FiveFieldBar from '@/components/FiveFieldBar'
import DateField from '@/components/DateField'
import PagingBar from '@/components/PagingBar'
import LicenseeUserDetailPopup from '@/views/user/popup/LicenseeUserDetailPopup'

export default {
  name: 'LicenseeUserListView',
  mixins: [sorts, pages, searches, stores],
  components: {
    TitleBar,
    FiveFieldBar,
    DateField,
    PagingBar,
    LicenseeUserDetailPopup
  },
  props: {
    title: {
      type: String,
      required: false,
      default: 'NO TITLE'
    }
  },
  mounted () {
    this.$getCodes(['US0000'], (result) => {
      // 사용자 상태 '탈퇴' 를 목록에서 제거 후 할당
      const tmpUsrStsCdList = result.US0000
      const idx = tmpUsrStsCdList.findIndex(o => o.comCd === 'US0400')
      if (idx >= 0) {
        tmpUsrStsCdList.splice(idx, 1)
      }
      this.usrStsCdList = this.$toSelectableCodes(tmpUsrStsCdList)
      this.fetchList()
    })
  },
  data () {
    return {
      usrStsCdList: [],
      // 테이블 헤더
      headers: [
        { text: this.$t('word.compCd'), value: 'compCd' },
        { text: this.$t('word.compNm'), value: 'compNm' },
        { text: this.$t('word.usrNm'), value: 'usrNm' },
        { text: this.$t('word.email'), value: 'email' },
        { text: this.$t('word.usrSts'), value: 'usrStsCdNm', sortable: false },
        { text: this.$t('word.telno'), value: 'telno', sortable: false },
        { text: this.$t('word.hnpno'), value: 'hnpno', sortable: false },
        { text: this.$t('word.joinYmd'), value: 'joinDt' },
        { text: this.$t('word.modDt'), value: 'modDt', sortable: false }
      ],
      // 조회결과 목록
      items: [],
      // 검색조건
      strYmd: null,
      endYmd: null,
      usrStsCd: null,
      srchDiv: 'compNm',
      kwd: null,
      // 선택 아이템
      selectedItems: [],
      // 라이선시 사용자 상세 팝업 오픈 여부
      showLicenseeUserDetailPopup: false
    }
  },
  computed: {
    srchDivList () {
      return [
        { text: this.$t('word.email'), value: 'email' },
        { text: this.$t('word.usrNm'), value: 'usrNm' },
        { text: this.$t('word.telno'), value: 'telno' },
        { text: this.$t('word.hnpno'), value: 'hnpno' },
        { text: this.$t('word.compNm'), value: 'compNm' }
      ]
    }
  },
  methods: {
    // 목록조회
    fetchList (shouldClear) {
      // 검색 초기화
      if (shouldClear) {
        this.comPageNo = 1
        this.selectedItems = []
      }
      // 검색 파라미터 할당
      this.clearComParam()
      this.appendParam('strYmd', this.strYmd)
      this.appendParam('endYmd', this.endYmd)
      this.appendParam('usrStsCd', this.usrStsCd)
      this.appendParam('compDivCd', 'CD0200') // 라이선시
      if (!this.$isEmpty(this.kwd)) {
        this.appendParam(this.srchDiv, this.kwd)
      }
      // 검색
      this.$http.get(this.toRequestUrl('/api/1/users'))
        .then((response) => {
          const page = response.data.result.usrCompPage
          this.bindComPage(page)
          this.items = page.list
        })
        .catch((error) => {
          this.$showError(error)
        })
    },
    // 초기화 버튼 클릭시
    handleClearClicked () {
      this.strYmd = null
      this.endYmd = null
      this.usrStsCd = null
      this.srchDiv = 'usrNm'
      this.kwd = null
      this.fetchList(true)
    },
    // 추가 버튼 클릭시
    handleAddClicked () {
      this.selectedItems = []
      this.showLicenseeUserDetailPopup = true
    },
    // 테이블 로우 클릭시
    handleRowClicked (item) {
      this.selectedItems = [item]
      this.showLicenseeUserDetailPopup = true
    },
    // 사용자상세 팝업 데이터 변경시
    handleUserItemChanged (item) {
      if (this.$isNull(item)) {
        this.fetchList(true)
      } else {
        this.fetchList()
      }
    }
  }
}
</script>
