<template>
  <div>
    <v-card outlined>
      <!-- 타이틀바 -->
      <title-bar :title="title">
        <template v-slot:action>
          <v-btn small tile :min-width="$const.minWidthButton" color="secondary" class="mr-1" @click="handleClearClicked">{{ $t('word.clear') }}</v-btn>
          <v-btn small tile :min-width="$const.minWidthButton" color="secondary" class="mr-1" @click="fetchList(true)">{{ $t('word.search') }}</v-btn>
          <v-btn v-if="isAdmin" small tile :min-width="$const.minWidthButton" color="primary" @click="handleAddClicked">{{ $t('word.add') }}</v-btn>
        </template>
      </title-bar>
      <!-- 검색조건 -->
      <field-bar :field-size="6" :md="2">
        <template v-slot:field-1>
          <date-field
            v-model="strYmd"
            :label="$t('word.regYmd') + ' (FROM)'"
            background-color="white"
            outlined
            dense
            hide-details>
          </date-field>
        </template>
        <template v-slot:field-2>
          <date-field
            v-model="endYmd"
            :label="$t('word.regYmd') + ' (TO)'"
            background-color="white"
            outlined
            dense
            hide-details>
          </date-field>
        </template>
        <template v-slot:field-3>
          <v-select
            v-model="langVal"
            :items="langValList"
            :label="$t('word.lang')"
            background-color="white"
            outlined
            dense
            hide-details>
          </v-select>
        </template>
        <template v-slot:field-4>
          <v-select
            v-model="postYn"
            :items="$getYesOrNoCodes()"
            :label="$t('word.postYn')"
            background-color="white"
            outlined
            dense
            hide-details>
          </v-select>
        </template>
        <template v-slot:field-5>
          <v-select
            v-model="srchDiv"
            :items="srchDivList"
            :label="$t('word.srchDiv')"
            background-color="white"
            outlined
            dense
            hide-details>
          </v-select>
        </template>
        <template v-slot:field-6>
          <v-text-field
            v-model="kwd"
            :label="$t('word.kwd')"
            background-color="white"
            outlined
            dense
            clearable
            hide-details
            @keypress.enter="fetchList(true)">
          </v-text-field>
        </template>
      </field-bar>
      <!-- 테이블 -->
      <v-data-table
        v-model="selectedItems"
        :headers="headers"
        :items="items"
        item-key="ntcNo"
        height="69vh"
        fixed-header
        show-select
        single-select
        disable-filtering
        disable-pagination
        loading-text=""
        no-data-text=""
        no-results-text=""
        hide-default-footer
        :server-items-length="comTtlCnt"
        :sort-by.sync="comSrtBy"
        :sort-desc.sync="comSrtDesc"
        @click:row="handleRowClicked"
        @update:sort-by="delayedCall(fetchList)"
        @update:sort-desc="delayedCall(fetchList)">
        <template v-slot:item.regDt="{ value }">
          <td>{{ $timeToMediumDate(value) }}</td>
        </template>
        <template v-slot:item.langVal="{ value }">
          <td>{{ $getLangNm(value) }}</td>
        </template>
        <template v-slot:item.modDt="{ value }">
          <td>{{ $timeToMediumDate(value) }}</td>
        </template>
        <template v-slot:body.append="{ headers }">
          <tr>
            <td :colspan="headers.length">
              {{ $t('word.total') }} {{ $formatNumber(comTtlCnt) }}{{ $t('word.count') }}
            </td>
          </tr>
        </template>
      </v-data-table>
      <!-- 페이징 -->
      <paging-bar
        :page-no.sync="comPageNo"
        :page-cnt.sync="comPageCnt"
        :item-cnt-per-page.sync="comItemCntPerPage"
        @paging-changed="fetchList">
      </paging-bar>
    </v-card>
    <!--  공지사항 상세 팝업 -->
    <ntc-detail-popup
      v-if="showNtcDetailPopup"
      :dialog.sync="showNtcDetailPopup"
      :ntc-no="selectedItems.length === 0 ? null : selectedItems[0].ntcNo"
      @item-changed="handleNtcItemChanged">
    </ntc-detail-popup>
  </div>
</template>

<script>
import { sorts } from '@/mixins/sortMixin'
import { pages } from '@/mixins/pageMixin'
import { searches } from '@/mixins/searchMixin'
import { stores } from '@/mixins/storeMixin'
import TitleBar from '@/components/TitleBar'
import DateField from '@/components/DateField'
import FieldBar from '@/components/FieldBar'
import PagingBar from '@/components/PagingBar'
import NtcDetailPopup from '@/views/ntc/popup/NtcDetailPopup'

export default {
  name: 'NtcListView',
  mixins: [sorts, pages, searches, stores],
  components: {
    TitleBar,
    DateField,
    FieldBar,
    PagingBar,
    NtcDetailPopup
  },
  props: {
    title: {
      type: String,
      required: false,
      default: 'NO TITLE'
    }
  },
  mounted () {
    this.fetchList()
  },
  data () {
    return {
      // 테이블 헤더
      headers: [
        { text: this.$t('word.number'), value: 'ntcNo' },
        { text: this.$t('word.lang'), value: 'langVal', sortable: false },
        { text: this.$t('word.title'), value: 'ntcSbj', width: '40%' },
        { text: this.$t('word.postYn'), value: 'postYn', sortable: false },
        { text: this.$t('word.headFixYn'), value: 'headFixYn', sortable: false },
        { text: this.$t('word.regDt'), value: 'regDt' },
        { text: this.$t('word.readCnt'), value: 'readCnt', sortable: false },
        { text: this.$t('word.modDt'), value: 'modDt', sortable: false }
      ],
      // 조회결과 목록
      items: [],
      // 검색조건
      strYmd: null,
      endYmd: null,
      langVal: null,
      postYn: null,
      srchDiv: 'sbjCnts',
      kwd: null,
      // 선택 아이템
      selectedItems: [],
      // 공지사항 상세 팝업 오픈 여부
      showNtcDetailPopup: false
    }
  },
  computed: {
    langValList () {
      return [
        { text: this.$t('word.- choose -'), value: null },
        { text: this.$t('word.ko'), value: 'ko' },
        { text: this.$t('word.en'), value: 'en' }
      ]
    },
    srchDivList () {
      return [
        { text: this.$t('word.title'), value: 'ntcSbj' },
        { text: this.$t('word.cnts'), value: 'ntcCnts' },
        { text: this.$t('word.sbjcnts'), value: 'sbjCnts' }
      ]
    }
  },
  methods: {
    // 목록조회
    fetchList (shouldClear) {
      // 검색 초기화
      if (shouldClear) {
        this.comPageNo = 1
        this.selectedItems = []
      }
      // 검색 파라미터 할당
      this.clearComParam()
      this.appendParam('strYmd', this.strYmd)
      this.appendParam('endYmd', this.endYmd)
      this.appendParam('langVal', this.langVal)
      this.appendParam('postYn', this.postYn)
      if (!this.$isEmpty(this.kwd)) {
        this.appendParam(this.srchDiv, this.kwd)
      }
      // 검색
      this.$http.get(this.toRequestUrl('/api/1/ntc'))
        .then((response) => {
          const page = response.data.result.ntcPage
          this.bindComPage(page)
          this.items = page.list
        })
        .catch((error) => {
          this.$showError(error)
        })
    },
    // 초기화 버튼 클릭시
    handleClearClicked () {
      this.strYmd = null
      this.endYmd = null
      this.langVal = null
      this.postYn = null
      this.srchDiv = 'sbjCnts'
      this.kwd = null
      this.fetchList(true)
    },
    // 추가 버튼 클릭시
    handleAddClicked () {
      this.selectedItems = []
      this.showNtcDetailPopup = true
    },
    // 테이블 로우 클릭시
    handleRowClicked (item) {
      this.selectedItems = [item]
      this.showNtcDetailPopup = false
      this.$nextTick(() => {
        this.showNtcDetailPopup = true
      })
    },
    // 공지사항 상세 팝업 데이터 변경시
    handleNtcItemChanged (item) {
      if (this.$isNull(item)) {
        this.fetchList(true)
      } else {
        this.fetchList()
      }
    }
  }
}
</script>
