<template>
<v-container fluid class="fill-height">
  <v-row justify="center">
    <v-col cols="12" sm="8" lg="4">
      <div class="text-center">
        <v-chip small color="primary" class="font-weight-bold">IPTOWN</v-chip>
        <div class="mt-2">
          <h1>{{ $t('word.resetPassword') }}</h1>
        </div>
        <p class="mx-6 mt-4 mb-8 grey--text text--darken-1">
          {{ $t('PasswordResetView.txt001', [ item.usrNm ]) }}<br/>
          {{ $t('PasswordResetView.txt002') }}
        </p>
      </div>
      <v-card outlined elevation="0" class="pa-8">
        <v-card-title class="justify-center">
          <v-avatar size="60" color="grey lighten-1">
            <v-icon x-large dark>
              mdi-lock
            </v-icon>
          </v-avatar>
        </v-card-title>
        <v-card-text class="text-center mt-5">
          <v-form ref="frm">
            <v-row no-gutters>
              <v-col cols="12" class="mb-10">
                <h1 class="grey--text text--lighten-1">{{ item.email }}</h1>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="item.chngPwd"
                  type="password"
                  :label="$t('word.chngPwd') + ' *'"
                  maxlength="20"
                  filled
                  :rules="[ requiredRule, passwordRule ]"
                  @keypress.enter="handleConfirmClicked()">
                </v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="item.chngPwdCnfm"
                  type="password"
                  :label="$t('word.chngPwdCnfm') + ' *'"
                  maxlength="20"
                  filled
                  :rules="[ requiredRule, passwordRule ]"
                  @keypress.enter="handleConfirmClicked()">
                </v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions class="justify-end mr-2">
          <v-btn tile large min-width="180" color="primary" @click="handleConfirmClicked">
            {{ $t('word.confirm') }}
          </v-btn>
        </v-card-actions>
      </v-card>
      <div class="ma-4">
        <router-link to="/login" class="grey--text text--darken-1">{{ $t('word.doLogin') }}</router-link>
      </div>
    </v-col>
  </v-row>
</v-container>
</template>

<script>
import { forms } from '@/mixins/formMixin'

export default {
  name: 'PasswordResetView',
  mixins: [forms],
  components: {
  },
  props: {
    encodedKey: {
      type: String,
      required: false
    }
  },
  mounted () {
    try {
      const decodedKey = decodeURIComponent(escape(atob(this.encodedKey)))
      const params = decodedKey.split('&')
      for (let i = 0; i < params.length; i++) {
        const keyVals = params[i].split('=')
        if (keyVals.length === 2) {
          this.item[keyVals[0]] = keyVals[1]
        }
      }
      if (this.$isNull(this.item.usrId) ||
          this.$isNull(this.item.usrNm) ||
          this.$isNull(this.item.email) ||
          this.$isNull(this.item.rsetReqNo) ||
          this.$isNull(this.item.rsetVrfVal)) {
        throw Error(this.$t('PasswordResetView.txt003'))
      }
    } catch (error) {
      if (!this.$isNull(error) && error.message) {
        console.log(error.message)
      }
      this.$router.replace('/login')
    }
  },
  data () {
    return {
      item: {
        usrId: null,
        usrNm: null,
        email: null,
        rsetReqNo: null,
        rsetVrfVal: null,
        chngPwd: null,
        chngPwdCnfm: null
      }
    }
  },
  computed: {
  },
  methods: {
    handleConfirmClicked () {
      if (!this.$refs.frm.validate(true)) {
        return
      }
      if (this.item.chngPwd !== this.item.chngPwdCnfm) {
        this.$toasted.global.warn(this.$t('PasswordResetView.txt004'))
        return
      }
      this.$http.put(`/api/1/users/${this.item.usrId}/password/reset`, this.item)
        .then(() => {
          this.$toasted.global.success(this.$t('PasswordResetView.txt005'))
          this.$router.replace('/login')
        })
        .catch((error) => {
          this.$showError(error)
        })
    }
  }
}
</script>

<style lang="css" scoped>
a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
</style>
